################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GymWebAPI/v16/Server/sqlite3
/.vs/GymWebAPI/v16
/bin/Debug/netcoreapp2.2
/obj/Debug/netcoreapp2.2
/obj
/WebAPI/bin/Debug/netcoreapp2.2
/WebAPI/obj/Debug/netcoreapp2.2
/Data/bin/Debug/netcoreapp2.2
/Data/obj/Debug/netcoreapp2.2
/Services/bin/Debug/netcoreapp2.2
/Services/obj/Debug/netcoreapp2.2
/Services.Test/bin/Debug/netcoreapp2.2
/Services.Test/obj/Debug/netcoreapp2.2
/Models.Test/bin/Debug/netcoreapp2.2
/Models.Test/obj/Debug/netcoreapp2.2
/ViewModels.Test/bin/Debug/netcoreapp2.2
/ViewModels.Test/obj/Debug/netcoreapp2.2
*.dll
*.cache