<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="icon" href="~/Content/images/gm_icon.png" type="image/png" />
    <title>Gym API</title>
</head>
<body style="font-family: Calibri">
    <h3>Gym API:</h3>

    <ul>
        <li>
            Gym Details
            <ul>
                <content>
                    <b>/home/api/gym</b> 
                </content>
            </ul>
        </li>
    </ul>
    <ul></ul>
    <ul>
        <li>
            Get all Members
            <ul>
                <content>
                    <b>/api/members</b>
                </content>
            </ul>
        </li>
        <li>
            Get Member:
            <ul>
                <content>
                    <b>/api/members/{id}</b>
                </content>
            </ul>
        </li>
        <li>
            Add Member:
            <ul>
                <content>
                    <b>/api/members/</b>
                    <br />
                    <table>
                        <tbody>
                            <tr>
                                <td>{</td>
                            </tr>
                            <tr>
                                <td> "name": "Carlos",</td>
                            </tr>
                            <tr>
                                <td>"birthDate": "1966-07-11",</td>
                            </tr>
                            <tr>
                                <td> "seniority": 1</td>
                            </tr>
                            <tr>
                                <td>}</td>
                            </tr>
                        </tbody>
                    </table>
                </content>
            </ul>
        </li>
        <li>Remove Member</li>
    </ul>
</body>
</html>