<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h3>Gym API:</h3>
    <ul>
        <li>Get Member</li>
        <li>Add Member</li>
        <li>Remove Member</li>
    </ul>
</body>
</html>