<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Gym API</title>
</head>
<body style="font-family: Calibri">
    <h3>Gym API:</h3>
    <ul>
        <li>
            Get Member:
            <ul>
                <content>
                    <b>/api/members/2d3e3324-b9e2-4f9d-b3ce-08d6db214f4</b>
                </content>
            </ul>
        </li>
        <li>
            Add Member
            <ul>
                <content>
                    <b>/api/members/</b>
                    <br />
                    <table>
                        <tbody>
                            <tr>
                                <td>{</td>
                            </tr>
                            <tr>
                            <td> "name": "Carlos",</td>
                            </tr>
                            <tr>
                                <td>"birthDate": "1966-07-11",</td>
                            </tr>
                            <tr>
                                <td> "seniority": 1</td>
                            </tr>
                            <tr>
                                <td>}</td>
                            </tr>
                        </tbody>
                    </table>
                </content>
            </ul>
        </li>

        <li>Remove Member</li>
    </ul>
</body>
</html>